/* Colors */
:root {
    /* Colors */
    --main-color: #555;
    --alert-color: orangered;

    --bg-color-active: rgba(85, 85, 85, 0.527);
    --bg-color-on-hover: var(--main-color);
    
    --color: black;
    --color-on-hover: white;

    /* Layout */
    --main-container-width: 800px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Segoe UI', 'Calibri', sans-serif;
    font-size: 1rem;
    color: #444;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:  100vw;
    height: 100vh; 
    margin: 0 auto;       
}

header {
    display: flex; /* We need this in order to position the navigation "inline" */
    border: 1px solid #000;
    background-color: #343a40!important;
    color: #FFF;
    padding: .5rem;
}

header > span > i {
    /* Inline the icon, navbar fix */
    display: inline !important;
    padding-right: .3rem;
}

header > span.name {
    font-size: 2rem;
    font-weight: 300;
}

.maincontainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

aside {
    background-color: #00FF00;
}

footer {
    text-align: center;
}

@supports (display: grid) {
    @media screen and (min-width: 576px)  {
        .container {
            /*max-width: 1140px;*/
            display: grid;
            grid-template-columns: .5fr 2fr;
            grid-template-rows: auto 1fr auto auto;
            grid-template-areas: 
                "header header header"
                "maincontainer maincontainer maincontainer"
                "footer footer footer";
            /*grid-gap: 0.5em;*/
        }
        .header {
            grid-area: header;
        }
        .maincontainer {
            grid-area: maincontainer;

            display: grid;
            grid-template-columns: 1fr 4fr;
            grid-template-areas: 
                "aside main";
        }
        .main {
            grid-area: main;
        }
        .aside {
            grid-area: aside;
        }
        .footer {
            grid-area: footer;
        }
    }
}

ul {
    list-style-type: square;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 1em;
}