.GameFilter__search-wrapper {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.GameFilter__search-bar {
    width: 100%;
    align-self: center;
    line-height: 2;
    font-size: 1.2rem;
    color: #495057;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .10);
}
.GameFilter__search-wrapper .fa {
    margin: auto -30px;
}
.GameFilter__search-bar:focus {
    outline: 0;
}
.GameFilter__search-bar::placeholder {
    color: rgba(0, 0, 0, .40);
}


.GameFilter__list {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    flex-wrap: wrap;
}

.GameFilter__list:last-child {
    margin-right: 0;
}

.GameFilter__card {
    display: flex;
    flex: 1 0 300px;
    flex-direction: column;
    align-self: center;
    font-size: 16px;
    height: 80%;
    max-width: 400px;
    overflow: hidden;
    position: relative; /* For the wishlist */
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.14), 0 4px 2px -1px rgba(0,0,0,.2), 0 2px 6px 0 rgba(0,0,0,.12);
    margin: 1rem;
}
.GameFilter__card:hover {
    cursor: pointer;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.14), 0 5px 3px -1px rgba(0,0,0,.5), 0 3px 7px 0 rgba(0,0,0,.14)
}
.GameFilter__card--full {
    max-width: 50%;
}
.GameFilter__card-heading {
    display: flex;
    color: #FFF;
    height: 230px; /* ne diraj */
    background-position: center;
    background-size: cover;
}
.GameFilter__card-heading--full {
    height: 300px;
}
.GameFilter__card-body {
    padding: .5rem 0 0 .5rem;
}
.GameFilter__card-body > h2{
    font-size: 1.2rem;
}
.GameFilter__card-badges {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.GameFilter__card-genres {
    padding-left: .5rem;
}
.GameFilter__card-price {
    position: absolute;
    right: 0;
    padding: .5rem;
    font-size: 2rem;
    background: rgba(0, 0, 0, .7);
    text-shadow: 1px 1px 2px black;     
}
.GameFilter__badge {
    display: inline-block;
    padding: .35rem .65rem;
    font-size: .9rem;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    vertical-align: baseline;
    border-radius: .25rem;
    margin-right: .5rem;
    color: #FFF;
    font-weight: 700;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.GameFilter__badge--steam {
    background: #171a21;
}
.GameFilter__badge--origin {
    background: #f56c2d;
}
.GameFilter__badge--g2a {
    background: rgb(0, 132, 193);
}
.GameFilter__badge--google {
    background: rgb(104, 159, 56);
}
.GameFilter__badge--apple {
    background: rgb(102, 102, 102);
}

.GameFilter__genre {
    line-height: 32px;
    font-weight: 700;
    padding: 0 12px;
    border: 0;
    background: #dedede;
    text-transform: uppercase;
    display: inline-block;
    color: rgba(0, 0, 0, .87);
    margin: 2px 0;
    margin-right: .5rem;
}