.GameFilter__search-wrapper {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.GameFilter__search-bar {
    width: 100%;
    align-self: center;
    line-height: 2;
    font-size: 1.2rem;
    color: #495057;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .10);
}
.GameFilter__search-wrapper .fa {
    margin: auto -30px;
}
.GameFilter__search-bar:focus {
    outline: 0;
}
.GameFilter__search-bar::placeholder {
    color: rgba(0, 0, 0, .40);
}


.GameFilter__list {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    flex-wrap: wrap;
}

.GameFilter__list:last-child {
    margin-right: 0;
}

.GameFilter__genre {
    line-height: 32px;
    font-weight: 700;
    padding: 0 12px;
    border: 0;
    background: #dedede;
    text-transform: uppercase;
    display: inline-block;
    color: rgba(0, 0, 0, .87);
    margin: 2px 0;
    margin-right: .5rem;
}