.ImageList {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.ImageList__mainImage {
    align-self: center;
    height: 300px;
    width: 100%;
}

.ImageList__images {
    margin-top: .5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ImageList__image {
    border: 1px solid transparent;
    width: 150px;
    height: 100px;
    margin-right: .5rem;
    margin-bottom: .5rem;
}
.ImageList__image:last-child {
    margin-right: 0;
}
.ImageList__image--selected {
    border: 3px solid #FF0000;
}