.LoginForm__container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    align-items: center;
}

.LoginForm__container > h2 {
    margin: 1rem;
}

.LoginForm__container > small {
    margin-top: 2rem;
}

@supports (display: grid) {
    @media screen and (min-width: 576px)  {
        .LoginForm__container {
            grid-area: maincontainer;
            grid-template-columns: 1fr;
            grid-template-areas: 
                "main";
        }
    }
}