.LoginForm__container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    align-items: center;
    margin-top: 1rem;
}

.LoginForm__container > small {
    margin-top: 2rem;
}

@supports (display: grid) {
    @media screen and (min-width: 576px)  {
        .LoginForm__container {
            grid-area: maincontainer;
            grid-template-columns: 1fr;
            grid-template-areas: 
                "main";
        }
    }
}

.LoginForm {
    display: grid;
    grid-row-gap: 0.5em;
    grid-template-columns: 350px;
    font-size: 1.1em;
    justify-items: stretch;
    margin-top: 2rem;
}

.LoginForm__input {
    outline: none;
    border: solid 1px gray;
}

.LoginForm__input:focus {
    box-shadow: 0 0 5px 0px #000;
}

.LoginForm__button, .LoginForm__input {
    padding: 0.5em;
    font-size: inherit;
}

.LoginForm__button:hover {
    background-color: darkgray;       
}

.LoginForm__passphrase {
    width: 100%;
    align-self: center;
    color: #495057;
}
.LoginForm__passphrase-wrapper {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.LoginForm__passphrase-wrapper .fa {
    margin: auto -30px;
}