/* Please note that we are using BEM naming convention  
   with our classes. For more information please check:
   1. https://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/
   2. https://en.bem.info/
*/

.Nav__container {
    display: none;
}

.Nav__container--mobile {
    display: flex;

    /* Push the hamburger icon all the way to the right */
    justify-content: flex-end;
    width: 100vw;
}

.Nav__container, .Nav__container--mobile {
    --Nav-bg-color-active: rgba(85, 85, 85, 0.527);
    --Nav-bg-color-on-hover: #555;
    --Nav-color: white;
    --Nav-color-on-hover: white;

    /* justify-content: space-between; */
    align-items: flex-end;
    /* width: 100%;
    height: calc(5em + 1px);
    border-bottom: 1px solid var(--bg-color-active, --Nav-bg-color-active); */
}

.Nav__link-wrapper {
    display: none;
    overflow-x: hidden;
}

.Nav__link-wrapper--mobile {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--bg-color-active, --Nav-bg-color-active);
    background-color: var(--Nav-color-on-hover);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translate(100%, 5em);
    /*transition: .3s ease-in-out;*/
    transition: .3s linear;
}

.Nav__link-wrapper--open {
    transform: translate(0, 5em);   
}

.Nav__link {
    padding: 0.5em 1.5em;
    color: var(--Nav-color);
    text-decoration: none;
    cursor: pointer;
}

.Nav--active {
    background-color: rgba(255, 255, 255, 0.127);
}

@media screen and (max-width: 576px) {
    .Nav__link {
        /* Black text for mobile screens */
        color: #000;
    }
    .Nav--active {
        color: #FFF;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.Nav__link:hover {       
    background-color: var(--bg-color-on-hover, --Nav-bg-color-on-hover);
    color: var(--color-on-hover, --Nav-color-on-hover);    
}

@media screen and (min-width: 576px) {
    .Nav__container {
        display: flex !important;
        flex-direction: row;
        justify-content: flex-end;
        width: 100vw;
    }
    
    .Nav__container--mobile {
        display: none !important;
    }    

    .Nav__link-wrapper {
        display: flex !important;
    }

    .Nav__link-wrapper--mobile {
        display: none !important;
    }  
}
