.Home__filter-wrapper h3 {
    margin-bottom: 0;
}

.Home__filter {
    font-size: 1.1rem;
}

.Home__checkbox-wrapper {
    width: 70%;
    margin-left: -.5rem;
    cursor: pointer;
}

@media screen and (min-width: 576px) {
    .Home__filter--mobile {
        display: none;
    }
}
@media screen and (max-width: 576px) {
    .Home__filter--desktop {
        display: none;
    }
}