.RegisterForm__container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    align-items: center;
    margin-top: 1rem;
}

.RegisterForm__container > small {
    margin-top: 2rem;
}

.RegisterForm__container > form {
    margin-top: 1rem;
}

@supports (display: grid) {
    @media screen and (min-width: 576px)  {
        .RegisterForm__container {
            grid-area: maincontainer;
            grid-template-columns: 1fr;
            grid-template-areas: 
                "main";
        }
    }
}

.RegisterForm__container input {
    margin-top: 1rem;
}
.Register__button {
    margin-top: 1rem;
}
.Register__warning {
    color: red;
}